<a href="https://colab.research.google.com/github/Abhi311509/ABC-Tech/blob/main/ABC_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymysql in /usr/local/lib/python3.8/dist-packages (1.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector in /usr/local/lib/python3.8/dist-packages (2.2.9)

In [36]:
import os
import mysql.connector
import pandas as pd
import numpy as np

In [47]:
output= pd.read_csv('ABC.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
'''## Check the number of databases available on the server
cursor=connection.cursor()
cursor.execute('show databases')
for i in cursor:
    print(i)'''

('information_schema',)
('project_itsm',)

In [40]:
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

  Tables_in_project_itsm
0           dataset_list

In [41]:
'''query = "select * from dataset_list" # SQL statement
output = pd.read_sql(query,connection)
print(output.shape)'''

(46606, 25)

In [67]:
pd.set_option('display.max_columns',25)

In [48]:
output

,Unnamed: 0,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4.0,...,NaN,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1.0,SD0000007,2.0,NaN,NaN
1,1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3.0,...,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1.0,SD0000011,1.0,NaN,NaN
2,2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NaN,...,NaN,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1.0,SD0000017,NaN,NaN,NaN
3,3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4.0,...,NaN,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1.0,SD0000025,NaN,NaN,NaN
4,4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4.0,...,NaN,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1.0,SD0000029,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46601,46601,SBA000464,application,Server Based Application,WBS000073,IM0047053,Closed,4,4,4.0,...,NaN,31-03-2014 16:29,31-03-2014 16:29,"0,095",Other,1.0,SD0147021,NaN,NaN,NaN
46602,46602,SBA000461,application,Server Based Application,WBS000073,IM0047054,Closed,4,4,4.0,...,NaN,31-03-2014 15:29,31-03-2014 15:29,"0,428333333",User error,1.0,SD0146967,NaN,NaN,NaN
46603,46603,LAP000019,computer,Laptop,WBS000091,IM0047055,Closed,5,5,5.0,...,NaN,31-03-2014 15:32,31-03-2014 15:32,"0,071666667",Hardware,1.0,SD0146982,NaN,NaN,NaN
46604,46604,WBA000058,application,Web Based Application,WBS000073,IM0047056,Closed,4,4,4.0,...,NaN,31-03-2014 15:42,31-03-2014 15:42,"0,116944444",Software,1.0,SD0146986,NaN,NaN,NaN
46605,46605,DCE000077,hardware,DataCenterEquipment,WBS000267,IM0047057,Closed,3,3,3.0,...,NaN,31-03-2014 22:47,31-03-2014 22:47,"0,586388889",Hardware,1.0,SD0147088,NaN,NaN,NaN

In [28]:
output.isnull().sum()

CI_Name                       0
CI_Cat                        0
CI_Subcat                     0
WBS                           0
Incident_ID                   0
Status                        0
Impact                        0
Urgency                       0
Priority                      0
number_cnt                    0
Category                      0
KB_number                     0
Alert_Status                  0
No_of_Reassignments           0
Open_Time                     0
Reopen_Time                   0
Resolved_Time                 0
Close_Time                    0
Handle_Time_hrs               0
Closure_Code                  0
No_of_Related_Interactions    0
Related_Interaction           0
No_of_Related_Incidents       0
No_of_Related_Changes         0
Related_Change                0
dtype: int64

In [7]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CI_Name                     46606 non-null  object
 1   CI_Cat                      46606 non-null  object
 2   CI_Subcat                   46606 non-null  object
 3   WBS                         46606 non-null  object
 4   Incident_ID                 46606 non-null  object
 5   Status                      46606 non-null  object
 6   Impact                      46606 non-null  object
 7   Urgency                     46606 non-null  object
 8   Priority                    46606 non-null  object
 9   number_cnt                  46606 non-null  object
 10  Category                    46606 non-null  object
 11  KB_number                   46606 non-null  object
 12  Alert_Status                46606 non-null  object
 13  No_of_Reassignments         46606 non-null  object
 14  Open_Time                   46606 non-null  object
 15  Reopen_Time                 46606 non-null  object
 16  Resolved_Time               46606 non-null  object
 17  Close_Time                  46606 non-null  object
 18  Handle_Time_hrs             46606 non-null  object
 19  Closure_Code                46606 non-null  object
 20  No_of_Related_Interactions  46606 non-null  object
 21  Related_Interaction         46606 non-null  object
 22  No_of_Related_Incidents     46606 non-null  object
 23  No_of_Related_Changes       46606 non-null  object
 24  Related_Change              46606 non-null  object
dtypes: object(25)
memory usage: 8.9+ MB

In [8]:
def value_count(df):
  for column in df:
    print()
    print('The value counts of {} column is'.format('\033[1m'+ column + '\033[0m'))
    print()
    print(df[column].value_counts())
    print('------------------------------------------------------------------')

In [9]:
value_count(output)

The value counts of CI_Name column is

SUB000456    3050
SBA000263    2176
SBA000607    1743
SBA000462    1698
WBA000058    1614
             ...
LAP001572       1
LAP000809       1
LAP000513       1
CBD000266       1
SWT000008       1
Name: CI_Name, Length: 3019, dtype: int64
------------------------------------------------------------------

The value counts of CI_Cat column is

application             32900
subapplication           7782
computer                 3643
storage                   703
hardware                  442
software                  333
database                  214
displaydevice             212
officeelectronics         152
                          111
networkcomponents         107
applicationcomponent        5
Phone                       2
Name: CI_Cat, dtype: int64
------------------------------------------------------------------

The value counts of CI_Subcat column is

Server Based Application    18811
Web Based Application       15311
Desktop Application          3876
Laptop                       1921
SAP                          1199
                            ...
Security Software               1
Application Server              1
NonStop Storage                 1
Protocol                        1
Neoview Server                  1
Name: CI_Subcat, Length: 65, dtype: int64
------------------------------------------------------------------

The value counts of WBS column is

WBS000073    13342
WBS000091     2500
WBS000263     2283
WBS000072     2197
WBS000271     1186
             ...
WBS000214        1
WBS000119        1
WBS000117        1
WBS000282        1
WBS000105        1
Name: WBS, Length: 274, dtype: int64
------------------------------------------------------------------

The value counts of Incident_ID column is

IM0000004    1
IM0031350    1
IM0031352    1
IM0031353    1
IM0031354    1
            ..
IM0015747    1
IM0015748    1
IM0015749    1
IM0015750    1
IM0047057    1
Name: Incident_ID, Length: 46606, dtype: int64
------------------------------------------------------------------

The value counts of Status column is

Closed              46597
Work in progress        9
Name: Status, dtype: int64
------------------------------------------------------------------

The value counts of Impact column is

4     22556
5     16741
3      5234
NS     1380
2       692
1         3
Name: Impact, dtype: int64
------------------------------------------------------------------

The value counts of Urgency column is

4               22588
5               16779
3                6536
2                 696
1                   6
5 - Very Low        1
Name: Urgency, dtype: int64
------------------------------------------------------------------

The value counts of Priority column is

4     22717
5     16486
3      5323
NA     1380
2       697
1         3
Name: Priority, dtype: int64
------------------------------------------------------------------

The value counts of number_cnt column is

0.601292279    1
0.197703759    1
0.289214738    1
0.036985671    1
0.905729916    1
              ..
0.940458875    1
0.642017895    1
0.759027962    1
0.928940263    1
0.902319509    1
Name: number_cnt, Length: 46606, dtype: int64
------------------------------------------------------------------

The value counts of Category column is

incident                   37748
request for information     8846
complaint                     11
request for change             1
Name: Category, dtype: int64
------------------------------------------------------------------

The value counts of KB_number column is

KM0001106    1106
KM0000940     864
KM0001444     790
KM0002043     773
KM0001825     725
             ...
KM0000108       1
KM0000396       1
KM0001647       1
KM0001017       1
KM0001578       1
Name: KB_number, Length: 1825, dtype: int64
------------------------------------------------------------------

The value counts of Alert_Status column is

closed    46606
Name: Alert_Status, dtype: int64
------------------------------------------------------------------

The value counts of No_of_Reassignments column is

0     27468
1      7268
2      5378
3      2191
4      1606
5       721
6       622
7       329
8       246
9       170
10      146
11      101
13       61
12       58
14       47
15       43
17       27
16       25
18       14
21       11
25       10
19       10
22       10
20        7
26        7
23        5
33        3
24        3
32        3
30        3
27        2
          1
31        1
29        1
34        1
45        1
38        1
46        1
39        1
42        1
37        1
36        1
Name: No_of_Reassignments, dtype: int64
------------------------------------------------------------------

The value counts of Open_Time column is

24-03-2014 08:54    7
21-02-2014 15:01    6
24-01-2014 09:37    6
12-11-2013 11:04    6
21-01-2014 11:49    6
                   ..
02-12-2013 13:28    1
02-12-2013 13:16    1
02-12-2013 13:11    1
02-12-2013 12:34    1
31-03-2014 17:24    1
Name: Open_Time, Length: 34636, dtype: int64
------------------------------------------------------------------

The value counts of Reopen_Time column is

                    44322
20-03-2014 08:43        2
29-10-2013 15:57        2
18-12-2013 10:39        2
07-10-2013 15:35        2
                    ...
15-11-2013 14:02        1
15-11-2013 08:38        1
14-11-2013 14:17        1
25-11-2013 16:14        1
31-03-2014 16:21        1
Name: Reopen_Time, Length: 2245, dtype: int64
------------------------------------------------------------------

The value counts of Resolved_Time column is

                    1780
10-10-2013 12:53       7
10-03-2014 09:42       6
31-03-2014 09:20       6
16-12-2013 09:47       6
                    ...
02-12-2013 09:20       1
02-12-2013 13:01       1
02-12-2013 08:37       1
10-12-2013 17:00       1
31-03-2014 22:47       1
Name: Resolved_Time, Length: 33628, dtype: int64
------------------------------------------------------------------

The value counts of Close_Time column is

02-10-2013 15:20    21
03-12-2013 09:55    15
13-01-2014 15:09    13
21-02-2014 15:52    12
10-02-2014 12:29    11
                    ..
03-12-2013 10:06     1
04-12-2013 10:55     1
03-12-2013 10:00     1
03-12-2013 13:35     1
31-03-2014 22:47     1
Name: Close_Time, Length: 34528, dtype: int64
------------------------------------------------------------------

The value counts of Handle_Time_hrs column is

0                 236
0,034444444        23
0,018333333        22
0,016666667        19
0,021388889        19
                 ...
4,28,85,27,778      1
3,92,91,66,667      1
4,96,68,05,556      1
1,07,30,27,778      1
0,428333333         1
Name: Handle_Time_hrs, Length: 30639, dtype: int64
------------------------------------------------------------------

The value counts of Closure_Code column is

Other                           16470
Software                        13027
User error                       3554
No error - works as designed     3530
Hardware                         2999
Data                             2209
Unknown                          1590
Operator error                   1539
User manual not used              765
                                  460
Inquiry                           162
Referred                          158
Questions                         132
Kwaliteit van de output            10
Overig                              1
Name: Closure_Code, dtype: int64
------------------------------------------------------------------

The value counts of No_of_Related_Interactions column is

1      43058
2       2736
3        429
4        124
         114
5         30
6         16
7         12
8          6
12         6
20         5
9          5
13         4
10         3
42         3
19         3
22         3
15         3
39         2
26         2
11         2
33         2
44         2
17         2
16         2
14         2
23         2
45         2
18         2
34         2
29         2
28         2
55         1
43         1
25         1
27         1
370        1
40         1
37         1
57         1
118        1
24         1
74         1
41         1
30         1
88         1
31         1
54         1
288        1
21         1
Name: No_of_Related_Interactions, dtype: int64
------------------------------------------------------------------

The value counts of Related_Interaction column is

#MULTIVALUE    3434
#N/B            114
SD0000007         1
SD0095431         1
SD0095433         1
               ...
SD0045635         1
SD0045617         1
SD0045636         1
SD0045637         1
SD0147088         1
Name: Related_Interaction, Length: 43060, dtype: int64
------------------------------------------------------------------

The value counts of No_of_Related_Incidents column is

      45384
1      1057
2        74
3        20
4        13
5         8
6         8
9         6
8         5
12        4
11        4
7         4
16        3
17        3
24        2
10        2
54        1
25        1
14        1
23        1
26        1
21        1
63        1
13        1
15        1
Name: No_of_Related_Incidents, dtype: int64
------------------------------------------------------------------

The value counts of No_of_Related_Changes column is

     46046
1      536
2       21
3        2
9        1
Name: No_of_Related_Changes, dtype: int64
------------------------------------------------------------------

The value counts of Related_Change column is

               46046
C00003013        110
C00014762         78
#MULTIVALUE       24
C00007098         16
               ...
C00007132          1
C00002378          1
C00008054          1
C00007263          1
C00000385          1
Name: Related_Change, Length: 233, dtype: int64
------------------------------------------------------------------

In [20]:
def space(df):
  for column in df:
    df[column] = df[column].str.replace(r'[\x00-\x19]', '').replace('', 'miss')
    if output[column].str.contains('miss').any():
       print('Total {} replacement happened for {} column '.format(df[column].value_counts()['miss'],'\033[4m'+ column + '\033[0m'))

In [21]:
space(output)

<ipython-input-20-544117f680ba>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(r'[\x00-\x19]', '').replace('', 'miss')

Total 111 replacement happened for CI_Cat column
Total 111 replacement happened for CI_Subcat column
Total 1 replacement happened for No_of_Reassignments column
Total 44322 replacement happened for Reopen_Time column
Total 1780 replacement happened for Resolved_Time column
Total 1 replacement happened for Handle_Time_hrs column
Total 460 replacement happened for Closure_Code column
Total 114 replacement happened for No_of_Related_Interactions column
Total 45384 replacement happened for No_of_Related_Incidents column
Total 46046 replacement happened for No_of_Related_Changes column
Total 46046 replacement happened for Related_Change column

In [43]:
output.to_csv('ABC.csv')